{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		{% for message in form.name.errors %}
			div>{{ message }}</div>
		{% endfor %}
		<div class="container">
			<div class="new_game flex-row">
				<div class="col-xs-12">
					<form action="{{url_for('delete_game', game_id=game.id)}}" method="POST" enctype="multipart/form-data">
						{{ form.csrf_token }}
						<h2>Are you sure you want to delete data for {{game.name}}?</h2>

						<div class="toolbar-section" >
							<div class="form-group" align="center">
								<div class="col-sm-12">
									{{form.submit(class_="btn btn-danger", value="Delete")}}
									<a class="btn btn-primary" role="button" href="{{url_for('show_games')}}">Cancel</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

{% endblock %}