{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		{% for message in form.name.errors %}
			div>{{ message }}</div>
		{% endfor %}

		<form action="{{url_for('new_game', category_id=category_id)}}" method="POST" enctype="multipart/form-data">
	    <div>
	        <div class="left-side">
	            <div class="mdl-textfield mdl-js-textfield">
	                {{form.name.label(class_= "mdl-textfield__label")}}
	                {{form.name(class_= "mdl-textfield__input")}}
	            </div>
	            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
	                {{form.image.label(class_= "mdl-textfield__label")}}
	                {{form.image(class_= "mdl-textfield__input", placeholder="Upload image file", readonly=true)}}
	                <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
					  <i class="material-icons">attach_file</i><input type="file" id="uploadBtn">
					</div>
	            </div>
	            <div class="mdl-textfield mdl-js-textfield">
	                {{form.youtubeVideoURL.label(class_= "mdl-textfield__label")}}
	                {{form.youtubeVideoURL(class_= "mdl-textfield__input")}}
	            </div>

	            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	                {{form.category.label(class_= "mdl-textfield__label")}}
	                {{form.category(class_= "mdl-textfield__input")}}
	            </div>

	        </div> 
	        <div class="right-side">
	            <div class="mdl-textfield mdl-js-textfield">
	                {{form.description.label(class_= "mdl-textfield__label")}}
	                {{form.description(class_= "mdl-textfield__input", rows='10', cols='30')}}
	            </div>
	        </div>
	    </div>

	    <div class="toolbar-section">
	        {{form.submit(class_="mdl-button mdl-js-button mdl-button--raised mdl-button--accent")}}
	    </div>
	    </form>

	</div>
  </main>
</div>

{% endblock %}