{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		<div class="container">
			<div class="new_game">
				
				{% with messages = get_flashed_messages(with_categories=true) %}
			        {% if messages %}
			          	{% for category, message in messages %}
			          	<div class="alert alert-{{category}}" role="alert" align="center">
		        			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			            	<strong>{{ message }}</strong>
						</div>
			          	{% endfor %}
			        {% endif %}  
				{% endwith %}
				<div class="col-xs-12">
					<form class="form-horizontal" action="{{url_for('rest.new_game')}}" method="POST" enctype="multipart/form-data">
						<fieldset>
      						<legend style="text-align: center;">Create new Game Entry</legend>
      						{{ form.csrf_token }}
							<div class="form-group">
								{{form.name.label(class_="col-sm-3 control-label")}}
								<div class="col-sm-7">
									{{form.name(class_= "form-control")}}
								</div>
							</div>
							<div class="form-group">
								{{form.creators.label(class_="col-sm-3 control-label")}}
								<div class="col-sm-7">
									{{form.creators(class_= "form-control")}}
								</div>
							</div>
							<div class="form-group">
								{{form.platform.label(class_="col-sm-3 control-label")}}
								<div class="col-sm-7">
									{{form.platform(class_= "form-control")}}
								</div>
							</div>
							<div class="form-group">
								{{form.release_date.label(class_="col-sm-3 control-label")}}
								<div class="col-sm-7">
									{{form.release_date(class_="form-control", placeholder="MM/DD/YYYY")}}
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Poster</label>
								<div class="col-sm-7">
									<div class="fileinput fileinput-new" data-provides="fileinput">
									  <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
										<img data-src="" alt="Image should be within 400 x 600">
									  </div>
									  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
									  <div align="center">
										<span class="btn btn-default btn-file"><span class="fileinput-new">Select Image</span><span class="fileinput-exists">Change</span>{{form.image}}</span>
										<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
									  </div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Banner</label>
								<div class="col-sm-7">
									<div class="fileinput fileinput-new" data-provides="fileinput">
									  <div class="fileinput-new thumbnail" style="width: 300px; height: 150px;">
										<img data-src="" alt="Image should be within 1920 x 1080">
									  </div>
									  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
									  <div align="center">
										<span class="btn btn-default btn-file"><span class="fileinput-new">Select Banner</span><span class="fileinput-exists">Change</span>{{form.banner}}</span>
										<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
									  </div>
									</div>
								</div>
							</div>
							<div class="form-group">
								{{form.youtubeVideoURL.label(class_="col-sm-3 control-label")}}
								<div class="col-sm-7">
									{{form.youtubeVideoURL(class_= "form-control", placeholder="Place link to trailer on youtube")}}
								</div>
							</div>

							<div class="form-group">
								{{form.category.label(class_="col-sm-3 control-label")}}
								<div class="col-sm-7">
									{{form.category(class_= "form-control")}}
								</div>
							</div>
							<div class="right-side">
								<div class="form-group">
									{{form.description.label(class_="col-sm-3 control-label")}}
									<div class="col-sm-7">
										{{form.description(class_= "form-control", rows='10', cols='300')}}
									</div>
								</div>
							</div>

							<div class="toolbar-section">
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										{{form.submit(class_="btn btn-primary")}}
										<a class="btn btn-primary" role="button" href="{{url_for('rest.show_games')}}">Cancel</a>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
{% endblock %}